{
    :peerEdn "dev-peer-config.edn"
    :envEdn "env-config.edn"
    :methodName "onyxplatform.test.PassMethod"
    :virtualPeerCount 3
    :batchSize 5
    :batchTimeout 50
    :taskScheduler "onyx.task-scheduler/balanced"
}
